body {
	font-family: 'Hind', sans-serif;
	background-color: #f9f9f9;
	margin: 0;
} 

/*
NAV BAR / HEADER
 */

nav {
	width: 100%;
	height: 40px;
	background-color: #F3843E;
	padding-left: 10%;
	padding-right: 10%;
	margin: 0;
	padding-top: 5px;
}

h1 {
	font-family: 'Oswald', sans-serif, bold;
	display: inline;
}

.header-buttons {
	float: right;
	display: inline;
	margin-right: 20%;
	margin-top: 7px;
}

.header-buttons button {
	background-color: #f9f9f9;
}

.header-buttons button:hover {
	background-color: white;
}

/*
MAIN
 */

.main {
	margin-left: 10%;
	margin-right: 10%;
}

a:link {
	text-decoration: none;
}

.article-headline {
	color: black;
	font-family: 'Oswald', sans-serif, bold;
}

.article-headline:hover {
	color: #F3843E;
}

.second-line {
	font-weight: bold;
	font-style: italic;
}

.article {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	border-radius: 5px;
	border: solid 1px;
	border-color: #c7c7c7;
}


/* MAIN BUTTONS */

button {
	margin-left: 10px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
	font-size: 12px;
}

button:hover {
	background-color: #F3843E;
	border: none;
	border-radius: 5px;
}

.search-term {
	margin-left: 0;
	margin-right: 10px;
}

.add-to-fav-button {
	background-color: white;
	border-color: #6E6E6E;
	vertical-align: middle;
}

.search-type {
	margin-left: 20px;
}

.next {
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 25px;
}

.add-to-fav-button {
	border-radius: 5px;
	border: solid 1px;
	border-color: #c7c7c7;
	margin-left: 20px;
}


/*
Color Pallet:
Light gray: #f9f9f9
Dark gray: #6E6E6E
Orange: #F3843E
*/


