body {
	font-family: 'Hind', sans-serif;
	background-color: #f9f9f9;
	margin: 0;
	background-image: url('coffee2.jpeg');
	background-size: cover;
    background-repeat: no-repeat;
} 

/*
NAV BAR / HEADER
 */

nav {
	width: 100%;
	height: 50px;
	background-color: #F3843E;
	padding-left: 60px;
	padding-right: 60px;
	margin: 0;
	padding-top: 5px;
	position: fixed;
}

h1 {
	font-family: 'Oswald', sans-serif, bold;
	display: inline;
}

.how-to {
	margin-top: 30px;
}

.header-buttons {
	float: right;
	display: inline;
	padding-right: 100px;
	padding-top: 7px;
}

.header-buttons button {
	background-color: #f9f9f9;
}

.header-buttons button:hover {
	background-color: white;
}

#logo {
	cursor: pointer;
}

/*
MAIN
 */

.main {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 80px;
	font-size: 18px;
}

a:link {
	text-decoration: none;
/*	color: black;
	font-family: 'Oswald', sans-serif, bold;*/

}

.article-headline {
	color: black;
	font-family: 'Oswald', sans-serif, bold;
}

.article-headline:hover {
	color: #F3843E;
}

.second-line {
	font-weight: bold;
	font-style: italic;
}

.article {
	background-color: white;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 20px;
	border-radius: 5px;
	border: solid 1px;
	border-color: #c7c7c7;
}

input[type="text"] {
	width: 120px;
	height: 30px;
	font-size: 14px;
	border: none;
}

/* MAIN BUTTONS */

button {
	/*margin-left: 10px;*/
	border: none;
	font-weight: bold;
	font-size: 14px;
	margin-left: 20px;
	height: 30px;
	background-color: #bdbdbd;
}

button.search {
	font-weight: bold;
	height: 32px;
	margin-left: 0;
	min-width: 40px;
	margin-bottom: 25px;
	margin-right: 20px;
}

button.next {
	background-color: #F3843E;
	height: 40px;
	width: 80px;
	font-size: 16px;
}

button:hover {
	background-color: #F3843E;
	border: none;
}

.search-term {
	margin-left: 0;
	margin-right: 10px;
}

.add-to-fav-button {
	background-color: white;
	border-color: #6E6E6E;
	vertical-align: middle;
}

.search-type {
	margin-right: 20px;
}

.add-to-fav-button {
	border-radius: 5px;
	border: solid 1px;
	border-color: #c7c7c7;
	margin-left: 20px;
}


/*
Color Pallet:
Light gray: #f9f9f9
Dark gray: #6E6E6E
Orange: #F3843E
*/


